.dabang-modal {
  position: absolute;
  top: 190px;
  left: 40px;
  width: 385px;
  height: 762px;
  z-index: 10;
  background:  url('../../../assets/images/modal/打榜.png'), url('../../../assets/images/modal/立即打榜.png'), url('../../../assets/images/modal/dabangbox.png');
  background-repeat: no-repeat,no-repeat, no-repeat, no-repeat;
  background-position: center center,center 98%, center bottom;
  cursor: pointer;
  padding-top: 74px;
  .dabang-modal-title {
    position: absolute;
    font-size: 26px;
    color: #fff;
    top: 12px;
    left: 110px;
  }
  .dabang-modal-section {
    height: 124px;
    transition: all 0.3s;
    &:hover {
      background: rgba(255,255,255,0.1);
    }
  }
  .dabang-modal-more{
    height: 124px;
    &:hover {
      cursor: pointer;
    }
  }
}