.cymap-main {
  width: 100%;
  height: 100%;
  background-color: #282c34;
  background: url(.././../assets/images/background.jpg) center no-repeat;
  background-size: cover;

  .cymap-logo{
    width: 460px;
    height: 82px;
    background: url(.././../assets/images/logo.png) center no-repeat;
    position: absolute;
    left: 50px;
    top:30px;
    z-index: 9;
  }
  .cymap-static {
    position: absolute;
    left: 650px;
    top:28px;
    z-index: 9;
  }
  .cymap-tab {
    position: absolute;
    left: 50%;
    bottom:50px;
    transform: translate(-50%,-50%);
    width: 120px;
    height: 20px;
    z-index: 9;
    .tab-item{
      cursor: pointer;
      float: left;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin-left: 20px;
      background: #24d6ec;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
  }
  .cymap-contain{
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  .TimeAndWeather{
    position: absolute;
    right: 50px;
    top:30px;
    z-index: 9;
  }
  .cymap-left {
    position: absolute;
    top: 130px;
    width: 480px;
    bottom: 10px;
    left: 50px;
    overflow: hidden;
    &__content {
      width: calc(100% + 20px);
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      .fans-proportion {
        width: 480px;
        height: 460px;
      }

      .fans-increase {
        margin: 20px 0;
        width: 480px;
        height: 329px;
      }
    }
  }

  .cymap-right {
    position: absolute;
    top: 130px;
    width: 520px;
    bottom: 10px;
    right: 40px;
    overflow: hidden;
    &__content {
      width: calc(100% + 20px);
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      .regional-ranking {
        width: 520px;
        height: 323px;
      }

      .career-analysis {
        width: 520px;
        height: 262px;
        margin: 20px 0;
      }

      .hot-words {
        width: 520px;
        height: 262px;
      }
    }
  }
  .test-enter{
    transform: translateX(-200px);
    opacity: 0.01;
  }
  .test-enter.test-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 500ms ease-in-out;
  }
  .test-leave {
    transform: translateX(0);
    opacity: 1;
  }
  .test-leave.test-leave-active {
    transition: all 500ms ease-in;
    opacity: 0;
    transform: translateX(300px);
  }
}
