.fans-modal {
  position: absolute;
  top: 170px;
  right: 40px;
  width: 500px;
  height: 810px;
  z-index: 10;
  padding-top: 78px;
  background-image:  url('../../../assets/images/modal/排名.png'), url('../../../assets/images/modal/查看更多.png'), url('../../../assets/images/modal/框.png');
  background-repeat: no-repeat,no-repeat, no-repeat;
  background-position: center center,center 97%, center bottom;
  .fans-modal-section {
    height: 110px;
    transition: all 0.3s;
    &:hover {
      background: rgba(255,255,255,0.1);
      cursor: pointer;
    }
  }
}