.login {
  width: 100%;
  height: 100%;
  background: url("../../../../static/images/login.png");
  background-size: 100%;
  &-content-form {
    width: 390px;
    height: 100%;
    float: right;
    background: #fff;
    position: relative;
    .auth-login {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0% auto 0;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      max-width: 100%;
      padding: 50px 50px 30px;
      background-color: #fff;
      border-radius: 4px;
      vertical-align: middle;
      font-size: 1.167rem;
      box-sizing: border-box;
      .login-title {
        font-size: 20px;
        margin: 40px 0 50px;
        font-family: Microsoft YaHei, Helvetica Neue, sans-serif;
        text-rendering: optimizeLegibility;
        color: #333;
        text-align: left;
      }
      .auth-login-form {
        text-align: left;
      }
    }
  }
  &-content {
    height: 590px;
    width: 1060px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    &-background {
      width: 670px;
      height: 590px;
      float: left;
      background-image: url("../../../../static/images/login.gif");
    }
  }
  &-form-button {
    width: 100%;
  }
  .form-item-remember {
    .ant-form-item-control {
      text-align: left;
    }
  }
}
